<div class="spinner-border text-primary mr-2" role="status">
											<span class="sr-only">Loading...</span>
										</div>
										
										
										<div class="progress mb-3">
										<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Animated</div>
									</div>
									
									
									
									
<div class="mb-3">
										<div class="alert alert-primary alert-outline alert-dismissible" role="alert">
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
											<div class="alert-message">
												<h4 class="alert-heading">Well done!</h4>
												<p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an
													alert works with this kind of content.</p>
												<hr>
												<div class="btn-list">
													<button class="btn btn-success" type="button">Okay</button>
													<button class="btn btn-danger" type="button">No, thanks</button>
												</div>
											</div>
										</div>
									</div>
									
									
									<div class="alert alert-success alert-dismissible" role="alert">
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
											<div class="alert-icon">
												<i class="far fa-fw fa-bell"></i>
											</div>
											<div class="alert-message">
												<strong>Hello there!</strong> A simple success alert—check it out!
											</div>
										</div>
									


<select class="custom-select mb-3">
          <option selected>Open this select menu</option>
          <option>One</option>
          <option>Two</option>
          <option>Three</option>
        </select>
        
        <div>
									<div id="validation-step-1">
										<div class="form-group">
											<label class="form-label">User name
              <span class="text-danger">*</span>
            </label>
											<input name="wizard-userName" type="text" class="form-control required">
										</div>
										<div class="form-group">
											<label class="form-label">Password
              <span class="text-danger">*</span>
            </label>
											<input name="wizard-password" type="text" class="form-control required">
										</div>
										<div class="form-group mb-0">
											<label class="form-label">Confirm Password
              <span class="text-danger">*</span>
            </label>
											<input name="wizard-confirm" type="text" class="form-control required">
										</div>
									</div>
									<div id="validation-step-2">
										<div class="form-group">
											<label class="form-label">First name
              <span class="text-danger">*</span>
            </label>
											<input name="wizard-name" type="text" class="form-control required">
										</div>
										<div class="form-group">
											<label class="form-label">Last name
              <span class="text-danger">*</span>
            </label>
											<input name="wizard-surname" type="text" class="form-control required">
										</div>
										<div class="form-group">
											<label class="form-label">Email
              <span class="text-danger">*</span>
            </label>
											<input name="wizard-email" type="text" class="form-control required email">
										</div>
										<div class="form-group mb-0">
											<label class="form-label">Address</label>
											<input name="wizard-address" type="text" class="form-control">
										</div>
									</div>
									<div id="validation-step-3">
										<div class="form-group">
											<label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-label">I agree with the Terms and Conditions</span>
            </label>
										</div>
									</div>
								</div>